
#AddPoke{
  border-radius: 10px; 
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-shadow: rgb(47, 102, 39) 0px 1px 0px;
  margin: 0 5px 0px 5px;
  background-color: rgb(68, 199, 103); 
  border: 1px solid black;
}

.PokeBox{
    display: inline-block;
    stroke-width:1;
    stroke:rgb(0,0,0);
}

#myDD{
    display: inline-block;
}

svg {
    display: block;
    border: 1px solid black;
}

/*Pokemon Type colors */
.Fire{
    fill: #F08030;
}

.Water{
    fill: #6890F0;
}

.Grass{
    fill: #78C850;
}

.Bug{
    fill: #A8B820;
}

.Normal{
    fill: #A8A878;
}

.Poison{
    fill: #A040A0;
}

.Electric{
    fill: #F8D030;
}

.Ground{
    fill: #E0C068;
}

.Fighting{
    fill: #C03028;
}

.Psychic{
    fill: #F85888;
}

.Rock{
    fill: #B8A038;
}

.Ghost{
    fill: #705898;
}

.Ice{
    fill: #98D8D8;
}

.Dragon{
    fill: #7038F8;
}
