#TITLE {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-family: Futura;
    font-style: italic;
}

.Rainbow {
    width: 88px;
    height: 5px;
}

td {
    vertical-align: top;
}

#AddPoke{
  border-radius: 10px; 
  display: block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-align: center;
  text-shadow: rgb(47, 102, 39) 0px 1px 0px;
  margin: 5px 5px 5px 5px;
  background-color: #4f43ae; 
  border: 1px solid black;
  margin: 0px 15px 0px 15px;
}

.ToggleRadarOn{
  border-radius: 10px; 
  display: block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-shadow: rgb(47, 102, 39) 0px 1px 0px;
  margin: 0px 5px 5px 5px;
  background-color: #4f43ae; 
  text-align: center;
  border: 1px solid black;
  margin: 0px 15px 0px 15px;
  width: 110px;
  display: inline-block;
}

.ToggleRadarOff{
  border-radius: 10px; 
  display: block;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-shadow: rgb(47, 102, 39) 0px 1px 0px;
  margin: 0px 5px 5px 5px;
  background-color: rgb(168, 168, 168);
  text-align: center;
  border: 1px solid black;
  margin: 0px 15px 0px 15px;
  width: 110px;
  display: inline-block;
}

#one_Poke{
  border-radius: 4px;   
  margin: 5px 5px 0px 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 16px;
  background-color: rgb(165, 165, 165); 
  width: 250px;
  height: 400px;
  border: solid black; 
}

#selText {
    color: black;
    font-family: PokemonGB;
    font-size: 10px;
    margin: 5px 5px 5px 15px;
}
#one_Poke_pic{
    border-radius: 3px;
    margin: 5px 15px 5px 15px;
    display: inline-block;
    background: lightgray;
}

#pokeDescription{
    border-radius: 2px;
    margin: 0px 15px 0px 15px;
    height: 55px;
    padding: 5px;
    background-color: white;
    border: double;
    display: inline-block;
    font-size:8px;
    color: black;
    font-family: "PokemonGB";

}

.PokeBox{
    display: inline-block;
    stroke-width:1;
    stroke:rgb(0,0,0);
}

#myDD{
    display: inline-block;
    margin: 5px 0px 0px 5px;
    width: 123px;
    border-radius: 5px;
}


@font-face {
    font-family: "PokemonGB";
    src: url("PokemonGB.ttf") format('truetype');
}

svg {
    margin: 5px 5px 5px 5px;
    display: block;
    border: 1px solid black;
}

#myTeam{
    text-align: center;
    margin: 10px;
    font-size: 16px;
    font-family: PokemonGB;
    color: black;
}

#poke_grid{
    margin: 5px 0px 5px 18px;
}

svg:hover .ttip{
   fill: black;
   display: block;
}

.ttip {
    font-size: 10px;
    fill: black;
    display: none;
}

/*Pokemon Type colors */
.Fire{
    fill: #F08030;
    background-color: #F08030;
}

.Water{
    fill: #6890F0;
    background-color: #6890F0;
}

.Grass{
    fill: #78C850;
    background-color: #78C850;
}

.Bug{
    fill: #A8B820;
    background-color: #A8B820;
}

.Normal{
    fill: #A8A878;
    background-color: #A8A878;
}

.Poison{
    fill: #A040A0;
    background-color: #A040A0;    
}

.Electric{
    fill: #F8D030;
    background-color: #F8D030;
}

.Ground{
    fill: #E0C068;
    background-color: #E0C068;
}

.Fighting{
    fill: #C03028;
    background-color: #C03028;
}

.Psychic{
    fill: #F85888;
    background-color: #F85888;
}

.Rock{
    fill: #B8A038;
    background-color: #B8A038;
}

.Ghost{
    fill: #705898;
    background-color: #705898;
}

.Ice{
    fill: #98D8D8;
    background-color: #98D8D8;
}

.Dragon{
    fill: #7038F8;
    background-color: #7038F8;
}

.Flying{
    fill: #A890F0;
    background-color: #A890F0;
}


#type_table{
    border: 1px solid black;
    border-collapse: collapse;
}

#type_table td{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-size:38px 19px;
    text-align:right;
    vertical-align: middle;
}

#type_table .row_type{
    width: 80px;
    font-family: PokemonGB;
    font-size: 10px;
    background-color: black;
    color: white;
    border-color: gray;
}

#type_table .row_mid{
    height:20px;
}

#btnTeam {
    margin: 0px 0px 0px 70px;
}


/*Bar Chart Styles______________________________________________________*/
/* Regular Styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #4e555f;
  font-size: 14px;
}
/* Bar Delays Animation Function */
/* Chart Styles */
.chart-wrap {
  max-width: 300px;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
}
.chart-wrap .chart-title {
  margin-bottom: 5px;
  font-size: 10px;
  font-family: 'PokemonGB';
  text-align: center;
  color: black;
}
.chart-wrap .row {
  position: relative;
  height: 10px;
  margin-bottom: 5px;
}
.chart-wrap .bar-wrap {
  position: relative;
  background: #d7dbde;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart-wrap .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(66, 134, 244);
  transition: all 1s;
  transform: translateX(-100%);
}
.chart-wrap .bar-wrap .bar.in {
  transform: translateX(0%);
  width: 50%; /*//////////////////////////*/
}
.chart-wrap .row:nth-of-type(1) .bar {
  transition: 1s 400ms;
}
.chart-wrap .row:nth-of-type(2) .bar {
  transition: 1s 600ms;
}
.chart-wrap .row:nth-of-type(3) .bar {
  transition: 1s 800ms;
}
.chart-wrap .row:nth-of-type(4) .bar {
  transition: 1s 1000ms;
}
.chart-wrap .row:nth-of-type(5) .bar {
  transition: 1s 1200ms;
}
.chart-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  padding-left: 5px;
  text-align: left;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
  color: black;
  font-family: 'PokemonGB';
}
.chart-wrap .number {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding-right: 10px;
  font-size: 8px;
  line-height: 10px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
  color: black;
  font-family: 'PokemonGB';
}
@media screen and (min-width: 800px) {
  .chart-wrap .row {
    padding: 0 40px 0 60px;
  }
  .chart-wrap .label {
    text-align: right;
    padding-left: 0;
  }
  .chart-wrap .number {
    text-align: left;
    padding-right: 0;
  }
}
/*_________________________________________________________*/



#cell_Radar{
  font-size: 16px;
  font-family: 'PokemonGB';
  padding: 10px 0 0 0;
  text-align: center;
  color: black;
}

#cell_Heat {
  font-size: 16px;
  font-family: 'PokemonGB';
  padding: 10px 0 5px 0;
  text-align: center;
  color: black;
}

#cell_Lineup {
    background: lightgray;
    border-radius: 5px;
    border: solid black;
    margin: 0 5px 0px 0px;
    padding-right: 15px;
}

.tdTYPE{
    vertical-align: middle;
    width: 75px;
    height: 18px;
    background-size:38px 19px;
    color: black;
    font-family: PokemonGB;
    font-size: 10px;
    background-repeat: no-repeat;
}

#page_Description {
    border-radius: 2px;
    margin: 0px 0px 0px 2px;
    padding: 10px 5px 5px 5px;
    background-color: white;
    border: 4px double;
    font-size:12px;
    color: black;
    font-family: "PokemonGB";
    width: 685px;
    height: 245px;
}

.legend_label{
    width: 100px;
    font-family: PokemonGB;
    font-size: 10px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    text-align: right;
    height: 20px;
    vertical-align: middle;
}

.legend_table{
    border-collapse: collapse;
    margin: 10px 20px 0px 0px;
    display: inline-block;
}

.legend_table .legend_value{
    border: 1px solid black;
    text-align: center;
}

.legend_value{
    width: 20px;
    font-family: PokemonGB;
    color: black;
    font-size: 10px;
    vertical-align: middle;
}

.legend_text {
    display: inline-block;
    font-family: PokemonGB;
    color: black;
    font-size: 12px;
    margin: 0px 20px 0px 10px;
    vertical-align: middle;
    height: 50px;
}
